body{
    background-color: #2aabd2;
}
#navy{

}
.navbar{
    padding: 0px;
    margin-top:20px;

}

#signup{
    float:right;
}
#ware-img{
    margin: 0 auto;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
    height:300px;
}
