body{
    background-color: #2aabd2;
}
#navy{

}
.navbar{
    padding: 0px;
    margin-top:20px;

}
.panel{
    margin: 0 auto;

}
#signup{
    float:right;
}
#ware-img{
    margin: 0 auto;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
    height:300px;
}
.carousel-caption{
    text-align: center;
    font-size: 150%;
    font-weight: bolder;

}
.footer{
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
}
.footerlist{
    list-style-type: none;
    overflow: hidden;
}
.footerlist li{
    display:inline-block;
}


table{
    margin:0 auto;
}
.btn-yellow{
    background-color: yellow;
}
.btn-pink{
    background-color: deeppink;
}
.btn-orange{
    background-color: darkorange;
}